/* Estilos para el cuerpo y elementos generales */
body {
    background-color: #f8f9fa; /* Color de fondo más claro */
    color: #212529; /* Color de texto más oscuro */
    font-family: 'Roboto', sans-serif; /* Cambio de fuente a Roboto */
}

.jumbotron {
    background-color: #2498c6 important; /* Color de fondo más oscuro para el encabezado */
    color: #fff; /* Texto blanco para destacar */
    background-image: url(https://cdn.pixabay.com/photo/2015/08/23/09/19/banner-902581_1280.jpg)!important;
}

.card {
    margin-top: 20px;
    transition: transform 0.5s ease; /* Agrega una animación suave al hacer hover */
}

.card:hover {
    transform: translateY(-5px); /* Mueve ligeramente la tarjeta hacia arriba al hacer hover */
}

/* Estilos para el menú de navegación */
.navbar-dark .navbar-nav .nav-link {
    color: #fff; /* Texto blanco para los enlaces */
    transition: color 0.3s ease; /* Agrega una transición suave al cambio de color */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #6607ff; /* Cambia el color del texto al amarillo al hacer hover */
}

.navbar-dark {
    background-color: #070707 !important; /* Cambia el color de fondo de la barra de navegación a azul */
}

.navbar-toggler-icon {
    color: #fff; /* Color blanco para el icono del botón de menú */
}

/* Estilos para las tarjetas */
.card-title {
    color: #f8f8f8; /* Color de texto más oscuro para los títulos de las tarjetas */
    font-weight: bold; /* mostrarse en negrita */
}

.card-text {
    color: #fff; /* Color de texto más claro para el contenido de las tarjetas */
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}
@keyframes slideIn {
    0% { transform: translateX(-100%); opacity: 0; } /* Desde la izquierda y completamente transparente */
    100% { transform: translateX(0); opacity: 1; }  /* A la posición original y completamente visible */
}

.xander-animation {
    display: inline-block; /* Lo convierte en un elemento de línea */
    animation: slideIn 1s ease forwards; /* Aplica la animación */
}




